name: CI-CD-Kubernetes
on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: my-python-k8s-app
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/${IMAGE_NAME }:${IMAGE_TAG } .
    
    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/${IMAGE_NAME }:${IMAGE_TAG }

    - name: Update Helm values with new image tag
      run: |
        sed -i "s/^  tag: .*/  tag: $IMAGE_TAG/" helm/python-app/values.yaml
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"

        if git diff --quiet; then
          echo "No changes detected, skipping commit"
          exit 0
        fi

        git add helm/python-app/values.yaml
        git commit -m "chore: update image tag to $IMAGE_TAG"
        git push
    