name: CI-CD-Kubernetes

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/my-python-k8s-app:latest .
    
    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/my-python-k8s-app:latest
    
    - name: Check Kubernetes access
      run: kubectl get nodes

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/
        kubectl rollout status deployment python-k8s-deployment
  